
# Compiler files
contracts/cache/
contracts/out/

# Hardhat
contracts/artifacts
contracts/cache_hardhat
contracts/deployments/localhost/*
contracts/coverage*
.env

# node files
node_modules

# OS
.DS_Store

# TypeChain files
contracts/typechain
contracts/typechain-types